/*CONFIGURAÇÕES GERAIS*/

body, ul, li, p, a {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

img{
    margin: 15px;
}

#imagem-destaque {
    width: 500px;
    height: auto;
}

#imagem-subdestaque {
    width: 357px;
    height: 300px;
}

.imagem-outros {
    width: 299px;
    height: 148px;
}

body {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*CONFIGURAÇÕES DO HEADER*/

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
    border-style: solid;
    background-color: rgb(0, 0, 112);
    border: 0px;
    color: azure;
}

#menu{
    display: flex;
}

#menu a {
    color:aliceblue
}

#menu li{
    margin: 10px;
    font-weight: bolder;

}

#menu li:hover{
    color: rgb(0, 229, 255);
    text-decoration: underline;
}

nav {
    margin-top: 50px;
}

#logo {
    margin: 0px;
    font-size: 40px;
    text-align: center;
    line-height: 33px;
}

/*CONFIGURAÇÕES DO MAIN*/

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 20px;
    margin-left: 73px;
    margin-right: 73px;
    margin-bottom: 20px;
    padding-right: 3px;
    padding-left: 3px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.5);
}

section {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.caixa-noticias {
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.5);
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding-left: 34px;
}

.destaque{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(128, 128, 128, 0.07);
    padding: 5px;
}

#caixa-topico{
    margin: 0px;
    border: 0px;
    padding: 0px;

}

#caixa-subdestaques {
    display: flex;
}

.sub-destaque {
    display: flex;
    flex-direction: row;
}

.rodape-destaque-principal {
    font-size: 12px;
    display: flex;
}

.rodape-destaque-principal p{
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.5);;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 0px;
    padding: 6px;
}

#p-especial{
    border-right: 0px;
}

.subtema {
    color: rgb(0, 126, 228);
}