@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



body {
    text-align: center;
    font-family: "Cousine", monospace;
    font-weight: 700;
    font-style: normal;
}

#corpo-calculadora{
    background-color: rgb(192, 119, 30);
    padding: 10px;
}

#tela {
    border: 3px;
    padding: 40px;
    margin: 10px;
    font-size: 30px;
    background-color: antiquewhite;
    border-color: rgb(75, 40, 14);
    border-style: solid;
}

#btn-numero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tecla {
    background-color: burlywood;
    margin: 10px;
    padding: 40px;
    cursor: pointer;
}