@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body, ul, li, p, a {
  font-family: "Oswald", sans-serif;
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

header {
    background-color: rgb(0, 202, 135);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#menu{
    display: flex;
}

#menu li{
    margin: 10px;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    gap: 20px;
    padding: 20px;
}

article{
    grid-column: 2;
    grid-row: 1/ span 3;
}

.distro {
    display: flex;
    gap: 15px;
}

footer {
    text-align: center;
}

@media(max-width: 768px){
    header {
        flex-direction: column;
        align-items: center;
    }

    main{
        grid-template-columns: 1fr;
    }

    article {
        grid-column: 1;
        grid-row: auto;
    }

    .distro{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

