body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


a {
    text-decoration: none;
}

header{
    background-color: rgb(186, 235, 8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


#menu{
    display: flex;
}

#menu li{
    margin: 10px;
}

main{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 590px;
    margin: auto;
}

section {
    margin: 10px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(229, 255, 0);
    text-align: center;
}

section:hover {
    transform: scale(1.02);
}

article {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(218, 58, 5);
}

article:hover{
    display: flex;
    align-items: center;
    background-color: rgba(231, 231, 3, 0.095);
    gap: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: rgb(218, 58, 5);
}

footer {
    background-color: yellowgreen;
    text-align: center;
}