@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

nav {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

#descricao{
  text-align: center;
}

